/* Telas de 1024px */
@media screen and (max-width: 1024px) {
/* Main - conteudo principal do site - descrição*/
#main-box-conteudo {
  width: 550px;
  height: 350px;
  margin-right: 10px;
}

#main-box-conteudo h2 {
  font-size: 20px;
}

#main-box-conteudo h1 {
  font-size: 50px;
}

#main-box-conteudo p {
  font-size: 18px;
}

/* Imagem do Naruto */
#main-box-imagem {
  width: 450px;
  height: 450px;
}

#main-box-imagem img {
  max-width: 450px;
  height: 450px;
}

/* sessão de cardapio */
#container-cardapio {
  height: 600px;
}

#container-cardapio h2 {
  font-size: 40px;
}

#container-cardapio p {
  font-size: 30px;
}

#container-cardapio #container-cardapio-pratos {
  height: 400px;
}

#container-cardapio .box-imagem-pratos {
  width: 250px;
  height: 300px;
}

#container-cardapio .box-imagem-pratos img {
  width: 250px;
  height: 250px;
}

/* Sessão de feedback */
#section-feedback h2 {
  font-size: 30px;
}
}

/* Telas de 834px */
@media screen and (max-width: 834px) {
/* Main - conteudo principal do site */
main {
  height: 500px;
}

#main-box-conteudo {
  width: 500px;
  height: 350px;
}

#main-box-conteudo h2 {
  font-size: 22px;
}

#main-box-conteudo h1 {
  font-size: 50px;
}

/* Imagem do Naruto */
#main-box-imagem {
  width: 320px;
  height: 350px;
}

#main-box-imagem img {
  width: 320px;
  height:350px;
}

/* sessão de cardapio */
#container-cardapio {
  height: 600px;
}

#container-cardapio h2 {
  font-size: 35px;
}

#container-cardapio p {
  font-size: 28px;
}

#container-cardapio #container-cardapio-pratos {
  height: 400px;
}

#container-cardapio .box-imagem-pratos {
  width: 250px;
  height: 300px;
}

#container-cardapio .box-imagem-pratos img {
  width: 250px;
  height: 250px;
}

/* Sessão de feedback */
#section-feedback h2 {
  font-size: 25px;
}

#section-feedback .container-feedbacks {
  width: 650px;
  padding: 20px;
}

#section-feedback .container-feedbacks img {
  margin-right: 20px;
}

#section-feedback .container-feedbacks p {
  font-size: 16px;
  text-align: justify;
}
}

/* Telas de 768px */
@media screen and (max-width: 768px) {
#main-box-conteudo {
  width: 500px;
  height: 400px;
  background-color: white;
}

#main-box-conteudo p {
  text-align: justify;
}

#main-box-conteudo p #span-experimente {
  margin-top: 20px;
  margin-bottom: -5px;
}

/* sessão de cardapio */
#container-cardapio #container-cardapio-pratos {
  height: 400px;
}

#container-cardapio .box-imagem-pratos {
  width: 230px;
  height: 280px;
}

#container-cardapio .box-imagem-pratos img {
  width: 220px;
  height: 220px;
}
}