/* Importação de fonts */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Resetando pré definições */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Declaração de fontes e paleta de cores */
:root {
  --fontPrincipal: "Lato", sans-serif;
  --fontSecundaria: "Fondamento", cursive;
  --corPrimaria: #000000;
  --corSecundaria: #ff5400;
  --corTerciaria: #f4edea;
  --corQuaternaria: #ffdbb5;
}

body {
  background-color: var(--corTerciaria);
}

/* cabeçalho do site */
#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

#header-container img {
  width: 60px;
  height: 50px;
  margin-left: 10px;
}

#header-container #header-navegacao-links {
   width: 562px;
   height: 44px;
   margin-right: 10px;
}

#header-container #header-navegacao-links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header-container #header-navegacao-links ul li {
  list-style: none;
  padding-top: 5px;
}

#header-container #header-navegacao-links ul li a {
  text-decoration: none;
  font-family: var(--fontPrincipal);
  color: var(--corPrimaria);
  font-size: 24px;
}

#header-container #header-navegacao-links ul li a span {
  color: var(--corSecundaria);
}

#header-container #header-navegacao-links ul li a:hover {
  border-bottom: 1px solid var(--corSecundaria);
}

/* Main - conteudo principal do site */
main {
  width: auto;
  height: 582px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-box-conteudo {
  width: 661px;
  height: 424px;
  margin-left: 10px;
  padding: 10px;
}

#main-box-conteudo h2, h1, p {
  text-align: center;
}

#main-box-conteudo h2 {
  font-size: 25px;
}

#main-box-conteudo h2 span {
  color: var(--corSecundaria);
}

#main-box-conteudo h1 {
  font-size: 65px;
  letter-spacing: 2px;
  color: var(--corPrimaria);
  font-family: var(--fontSecundaria);
}

#main-box-conteudo p {
  font-size: 20px;
}

#main-box-conteudo #main-button {
  background-color: var(--corSecundaria);
  outline: none;
  border: none;
  display: flex;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: 18px;
  padding-top: 12px;
  padding-left: 55px;
  margin: 15px auto;
  color: var(--corTerciaria);
  cursor: pointer;
}

#main-box-conteudo #main-button:hover {
  box-shadow: 1px 1px 10px var(--corPrimaria);
}

/* Imagem do Naruto */
#main-box-imagem {
  width: auto;
  height: 560px;
  margin-right: 10px;
}

#main-box-imagem img {
  max-width: 100%;
  height: 560px;
}